{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/asdweek4"
    },
    "cloudant": {
      "db": "https://factelveredivagendsovoun:tk7jxPPUXhk6Ry0WrNpqaxph@ezcaflowne.cloudant.com/asdproject"
    }
  }
}
